<%- include('../partials/_header.ejs') %>

<h1>Detail d'un message <%= message.id %> </h1>
<p>date de creation : <%=formatedCreatedate %> </p>
<p>Pseudo : <%=messsage.pseudo %> </p>
<p>Pseudo : <%=messsage.pseudo %> </p>

<h3>WARNING</h3>
<!-- TODO : Récuperer les données !!! -->

<%- include('../partials/_footer.ejs') %>